.addgoods-main {
  background-color: #fff;
  width: 800px;
  height: 72vh;
  margin: 10vh auto;
  padding: 50px;
}

.goodsList {
  padding: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.goods-item {
  width: 200px;
  height: 250px;
  margin: 50px;
  border: 1px solid black;
  background-color: #fff;
}

.goods-item .img {
  width: 150px;
  height: 150px;
}

.cart {
  float: right;
  margin-right: 100px;
}

.cart-btn {
  margin-left: 100px;
}
